header{
    width: 100%;
    height: auto;
    padding: $rem*2 $rem $rem*2 $rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .logo{
        height: $rem*8;
        margin-left: $rem*3;
        padding: $rem;
        border: .3rem solid $turquesa;
        border-radius: 100px;
    }
    .tituloPrincipal{
        padding-bottom: $rem;
        color: $turquesa;
        text-shadow: $shadow $shadow $shadow $turquesa_oscuro;
        font-family: 'Amaranth', sans-serif;
        font-size: $rem*3;
        font-weight: bolder;
        animation-name: titleanimation;
        animation-duration: 4s;
        animation-timing-function: ease;
        animation-delay:0s;
        animation-iteration-count: 1;
    }
    @keyframes titleanimation {
        0%{opacity: 0;}
        100%{opacity: 1;}
    }
    #tituloIndex{
        font-size: $rem*4;
    }
    nav{
        .menuNav{
            display: flex;
            list-style: none;
            .navItem a{
                color: $negro;
                text-decoration: none;
                font-weight: bolder;
                font-size: $rem*1.5;
                padding: $rem;
            }
            .focusNav a{
            color: $amarillo;
            }
            .navItem a:hover{
            border-radius: $rem;
            background-color: $amarillo;
            opacity: 0.8;
            color: $marron;
            }
        }
    }
}

@media only screen and (max-width: 1020px){
    header{
        padding: $rem;
        .logo{
            height: $rem*6;
            margin-left: $rem;
            padding: .4rem;
            border: .2rem solid $turquesa;
        }
        .tituloPrincipal{
            padding-bottom: .5rem;
            font-size: $rem*2;
        }
        #tituloIndex{
            font-size: $rem*3;
        }
        nav{
            .menuNav{
                .navItem a{
                    font-size: $rem;
                    padding: .5rem;
                }
                .navItem a:hover{
                border-radius: .5rem;
                }
            }
        }
    }
}
@media only screen and (max-width: 768px){
    header{
        padding: $rem;
        flex-flow: row wrap;
        justify-content: space-around;
        .logo{
            height: $rem*6;
            margin-left: 0rem;
            padding: .4rem;
            border: .2rem solid $turquesa;
        }
        .tituloPrincipal{
            padding-bottom: 0rem;
            font-size: $rem*2.3;
        }
        #tituloIndex{
            font-size: $rem*3;
        }
        nav{
            .menuNav{
                .navItem a{
                    font-size: $rem;
                    padding: .5rem;
                }
                .navItem a:hover{
                border-radius: .5rem;
                }
            }
        }
    }
}
@media only screen and (max-width: 480px){
    header{
        padding: $rem;
        display: flex;
        flex-flow: column;
        .logo{
            height: $rem*7;
            margin-left: 0rem;
            padding: .5rem;
            border: .25rem solid $turquesa;
        }
        .tituloPrincipal{
            padding-bottom: 0rem;
            color: $turquesa;
            text-shadow: 1px 1px 1px $turquesa_oscuro;
            font-size: $rem*2;
        }
        #tituloIndex{
            font-size: $rem*3;
            text-shadow: 2px 2px 1px $turquesa_oscuro;
        }
        nav{
            .menuNav{
                padding:0;
                margin-bottom: 0;
                .navItem a{
                    font-size: $rem;
                    padding:.5rem;
                }
                .focusNav a{
                color: $amarillo;
                }
                .navItem a:hover{
                border-radius: .5rem;
                }
            }
        }
    }
}
@media only screen and (max-width: 380px){
    header{
        .logo{
            height: $rem*6;
            padding: .4rem;
            border: .15rem solid $amarillo;
        }
        .tituloPrincipal{
            font-size: $rem*1.5;
        }
        #tituloIndex{
            font-size: $rem*2.5;
            text-shadow: 1px 1px 1px $turquesa_oscuro;
        }
        nav{
            .menuNav{
                .navItem a{
                    font-size: .8rem;
                    padding:.3rem;
                }
            }
        }
    }
}