.mainContacto{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    border-top: 1px solid #f2b830;
}
h2{
    text-align: center;
}
#contacto{
    width: 20%;
    margin: auto;
    text-align: center;
    border: 2px dotted #9c5513;
    padding: 10px;
}

@media only screen and (max-width: 1020px){
    #contacto{
        width: 35%;
        font-size: $rem;
    }
}
@media only screen and (max-width: 768px){
    #contacto{
        width: 45%;
        font-size: .8rem;
    }
}
@media only screen and (max-width: 480px){
    #contacto{
        width: 55%;
        font-size: .7rem;
    }
}
@media only screen and (max-width: 380px){
    #contacto{
        width: 65%;
        font-size: .5rem;
    }
}