.galeria{
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    padding: 2%;
    background-color: #ffe5a9;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "foto2 foto4 foto4 foto7"
    "foto2 foto4 foto4 foto7"
    "foto1 foto1 foto3 foto6"
    "foto1 foto1 foto3 foto5"
    ;
}
.foto{
    min-height: 200px;
    min-width: 200px;
}
.foto:hover{
    transform: scale(1.2);
    transition: 0.8s;
    box-shadow: 5px 5px 20px 1px #000;
}
.foto1{ 
    background-image: url('../imágenes/amigos.jpeg');
    background-size: cover;
    background-position: center;
    grid-area: foto1;
}
.foto2{
    background-image: url('../imágenes/baile.jpeg');
    background-size: cover;
    background-position: center;
    grid-area: foto2;
}
.foto3{
    background-image: url('../imágenes/campo-de-margaritas.jpeg');
    background-size: cover;
    background-position: top;
    grid-area: foto3;
}
.foto4{
    background-image: url('../imágenes/comida-sana.jpeg');
    background-size: cover;
    background-position: bottom;
    grid-area: foto4;
}
.foto5{
    background-image: url('../imágenes/ejercicio.jpeg');
    background-size: cover;
    background-position: center;
    grid-area: foto5;
}
.foto6{
    background-image: url('../imágenes/familia.jpeg');
    background-size: cover;
    background-position: center;
    grid-area: foto6;
}
.foto7{
    background-image: url('../imágenes/naturaleza.jpeg');
    background-size: cover;
    background-position: center;
    grid-area: foto7;
}
h2{
    margin-left: $rem;
    margin-bottom: $rem*2;
    font-family: 'Amaranth', sans-serif;
    color: $amarillo;
    font-weight: bolder;
    font-size: 2rem;
    text-align: left;
}